{% if page.podcast_link %}
<p class="notice--success">
{% if page.tags contains 'tr' %}
Dinleyin <i class="fas fa-headphones"></i>
{% endif %}
{% if page.tags contains 'en' %}
Listen <i class="fas fa-headphones"></i>
{% endif %}
<br />
<audio controls preload='metadata' style='width: 100%;'>
    <source src='{{ page.podcast_link }}'>
    {% if page.tags contains 'tr' %}
    Üzgünüm, tarayıcınız gömülü ses oynatmayı (HTML5) desteklemiyor.
    {% endif %}
    {% if page.tags contains 'en' %}
    Sorry, but your browser doesn't support embedded audio player (HTML5).
    {% endif %}
</audio>
{% if page.tags contains 'tr' %}
<i class="fas fa-file-download"></i> <a href="{{ page.podcast_link }}" download>Link</a>
<span style="float: right;">
<i class="fas fa-podcast"></i> Podcast:
<i class="fab fa-spotify"></i> <a href="{{ site.ax_podcast_spotify_url }}">Spotify</a>
<i class="fab fa-itunes"></i> <a href="{{ site.ax_podcast_apple_url }}">iTunes</a>
<i class="fab fa-google"></i> <a href="{{ site.ax_podcast_google_url }}">Google</a>
<i class="fas fa-rss-square"></i> <a href="{{ site.url }}{{ site.podcast_ax_xlm }}">RSS</a>
</span>
{% endif %}
{% if page.tags contains 'en' %}
<i class="fas fa-file-download"></i> <a href="{{ page.podcast_link }}" download>Link</a>
<span style="float: right;">
<i class="fas fa-podcast"></i> Podcast:
<i class="fab fa-spotify"></i> <a href="{{ site.ax_podcast_spotify_url }}">Spotify</a>
<i class="fab fa-itunes"></i> <a href="{{ site.ax_podcast_apple_url }}">iTunes</a>
<i class="fab fa-google"></i> <a href="{{ site.ax_podcast_google_url }}">Google</a>
<i class="fas fa-rss-square"></i> <a href="{{ site.url }}{{ site.podcast_ax_xlm }}">RSS</a>
</span>
{% endif %}
</p>
{% endif %}

{% if page.ax_video_id %}
<p class="notice--warning">
{% if page.tags contains 'tr' %}
İzleyin <i class="fas fa-video"></i>
{% endif %}
{% if page.tags contains 'en' %}
Watch <i class="fas fa-video"></i>
{% endif %}
<br />
<iframe src="https://www.youtube-nocookie.com/embed/{{ page.ax_video_id }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen>
    {% if page.tags contains 'tr' %}
    Üzgünüm, tarayıcınız iframe (HTML) ile video göstermeye izin vermiyor.
    {% endif %}
    {% if page.tags contains 'en' %}
    Sorry, but your browser doesn't allow us to show the video with an iframe (HTML).
    {% endif %}
</iframe>
{% if page.tags contains 'tr' %}
<i class="fab fa-youtube"></i> <a href="https://www.youtube.com/watch?v={{ page.ax_video_id }}">Link</a>
<span style="float: right;">
<i class="fab fa-youtube"></i> <a href="{{ site.ax_youtube_channel }}">Kanal</a>
</span>
{% endif %}
{% if page.tags contains 'en' %}
<i class="fab fa-youtube"></i> <a href="https://www.youtube.com/watch?v={{ page.ax_video_id }}">Link</a>
<span style="float: right;">
<i class="fab fa-youtube"></i> <a href="{{ site.ax_youtube_channel }}">The Channel</a>
</span>
{% endif %}
</p>
{% endif %}
