{% if page.ax_podcast_id %}
<p class="notice--success">
{% if page.tags contains 'tr' %}
Dinleyin <i class="fas fa-headphones"></i>
{% endif %}
{% if page.tags contains 'en' %}
Listen <i class="fas fa-headphones"></i>
{% endif %}
<br />
<iframe src="https://anchor.fm/asynxdev/embed/episodes/{{ page.ax_podcast_id }}" height="102px" width="100%" frameborder="0" scrolling="no">
    {% if page.tags contains 'tr' %}
    Üzgünüm, tarayıcınız iframe (HTML) ile video göstermeye izin vermiyor.
    {% endif %}
    {% if page.tags contains 'en' %}
    Sorry, but your browser doesn't allow us to show the video with an iframe (HTML).
    {% endif %}
</iframe>
{% if page.tags contains 'tr' %}
<i class="fas fa-volume-up"></i> <a href="https://anchor.fm/asynxdev/episodes/{{ page.ax_podcast_id }}">Link</a>
<span style="float: right;">
<i class="fas fa-podcast"></i> <a href="{{ site.ax_podcast_anchor_url }}">Tüm Podcastler</a>
</span>
{% endif %}
{% if page.tags contains 'en' %}
<i class="fas fa-volume-up"></i> <a href="https://anchor.fm/asynxdev/episodes/{{ page.ax_podcast_id }}">Link</a>
<span style="float: right;">
<i class="fas fa-podcast"></i> <a href="{{ site.ax_podcast_anchor_url }}">All Podcasts</a>
</span>
{% endif %}
</p>
{% endif %}

{% if page.ax_video_id %}
<p class="notice--warning">
{% if page.tags contains 'tr' %}
İzleyin <i class="fas fa-video"></i>
{% endif %}
{% if page.tags contains 'en' %}
Watch <i class="fas fa-video"></i>
{% endif %}
<br />
<iframe src="https://www.youtube-nocookie.com/embed/{{ page.ax_video_id }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen>
    {% if page.tags contains 'tr' %}
    Üzgünüm, tarayıcınız iframe (HTML) ile video göstermeye izin vermiyor.
    {% endif %}
    {% if page.tags contains 'en' %}
    Sorry, but your browser doesn't allow us to show the video with an iframe (HTML).
    {% endif %}
</iframe>
{% if page.tags contains 'tr' %}
<i class="fab fa-youtube"></i> <a href="https://www.youtube.com/watch?v={{ page.ax_video_id }}">Link</a>
{% if site.ax_youtube_channel %}
<span style="float: right;">
<i class="fab fa-youtube"></i> <a href="{{ site.ax_youtube_channel }}">Kanal</a>
</span>
{% endif %}
{% endif %}
{% if page.tags contains 'en' %}
<i class="fab fa-youtube"></i> <a href="https://www.youtube.com/watch?v={{ page.ax_video_id }}">Link</a>
{% if site.ax_youtube_channel %}
<span style="float: right;">
<i class="fab fa-youtube"></i> <a href="{{ site.ax_youtube_channel }}">The Channel</a>
</span>
{% endif %}
{% endif %}
</p>
{% endif %}
