# Ref: https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json.recommended
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# cSpell.json, Code cSpell eklentisi tarafindan kullaniliyor.
# !.vscode/cSpell.json
*.code-workspace

# Local History for Visual Studio Code
.history/

.pytest_cache

# Pipfile.lock
Gemfile.lock

# See: https://github.com/asynx-dev/www/issues/78
# https://stackoverflow.com/a/2545710

**/__pycache__/

_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
