language: python

jobs:
  include:
    - name: fast_deploy
      install:
      - pip3 install -r requirements.txt
      script:
      - mkdocs build --clean --strict --verbose --config-file mkdocs-fast.yml
      - touch ./site/.nojekyll
      - cp CNAME ./site
      - date -Iseconds >> ./site/build.info.txt
      - mkdocs --version >> ./site/build.info.txt
      - git log -1 --oneline >> ./site/build.info.txt
      deploy:
        provider: pages
        local_dir: site
        skip_cleanup: true
        deployment_file: true
        verbose: true
        github_token: $GITHUB_TOKEN

    - name: production_tests
      install:
      - pip3 install -r requirements.txt
      script:
      - mkdocs build --clean --strict --verbose --config-file mkdocs-full.yml
      - touch ./site/.nojekyll
      - cp CNAME ./site
      - date -Iseconds >> ./site/build.info.txt
      - chmod +x ./test/main-simple.sh
      - ./test/main-simple.sh
