{% extends "base.html" %}

{% block extrahead %}
	<!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="{{ 'img/favicon.ico' | url }}">
	<link rel="icon" sizes="16x16 32x32 64x64" href="{{ 'img/favicon.ico' | url }}">
	<link rel="icon" type="image/png" sizes="196x196" href="{{ 'img/favicon-192.png' | url }}">
	<link rel="icon" type="image/png" sizes="160x160" href="{{ 'img/favicon-160.png' | url }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ 'img/favicon-96.png' | url }}">
	<link rel="icon" type="image/png" sizes="64x64" href="{{ 'img/favicon-64.png' | url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ 'img/favicon-32.png' | url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ 'img/favicon-16.png' | url }}">
	<link rel="apple-touch-icon" href="{{ 'img/favicon-57.png' | url }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ 'img/favicon-114.png' | url }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ 'img/favicon-72.png' | url }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ 'img/favicon-144.png' | url }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ 'img/favicon-60.png' | url }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ 'img/favicon-120.png' | url }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ 'img/favicon-76.png' | url }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ 'img/favicon-152.png' | url }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ 'img/favicon-180.png' | url }}">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="{{ 'img/favicon-144.png' | url }}">
	<meta name="msapplication-config" content="{{ 'img/browserconfig.xml' | url }}">
	<!-- ****** faviconit.com favicons ****** -->
{% endblock %}

{% block announce %}
        {% include "partials/announce_public.html" %}
        {% include "partials/announce_private_reserved.html" %}
{% endblock %}
